@media (max-width: 768px) {
    .navbar {
        padding: 30px 0;
    }

    .navbar a {
        font-size: 22px;
    }

    .side-menu {
        width: 200px;
        padding-top: 70px;
    }

    .side-menu li {
        padding: 12px 16px;
    }

    .side-menu a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 30px 0;
    }

    .navbar li {
        display: block;
        margin: 10px 0;
    }

    .navbar a {
        font-size: 30px;
    }

    body {
        padding-top: 130px;
    }

    .side-menu {
        width: 160px;
        padding-top: 100px;
    }

    .side-menu li {
        padding: 10px 14px;
    }

    .side-menu a {
        font-size: 15px;
    }
}

/*TELA DE CADASTRO DE LIVROS*/
@media (max-width: 768px) {
    .container-form {
        max-width: 90%;
        margin-top: -100px;
    }

    .form-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .container-form h2 {
        font-size: 1.5rem;
    }

    .btn {
        padding: 10px 15px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .container-form {
        max-width: 95%;
        padding: 15px;
    }

    .form-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .form-group label {
        font-size: 0.9rem;
    }

    .form-group input,
    .form-group select {
        font-size: 0.9rem;
        padding: 8px;
    }

    .btn {
        font-size: 14px;
    }
}

/*TELA HOME*/
@media (max-width: 768px) {
    .livros-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        margin-top: -60px;
    }

    .capa-container {
        width: 250px;
        height: 320px;
    }

    .livro-titulo {
        font-size: 0.9rem;
    }

    .livro-autor {
        font-size: 0.8rem;
    }
}

@media (max-width: 480px) {
    .livros-grid {
        grid-template-columns: 1fr;
        gap: 10px;
    }

    .capa-container {
        width: 250px;
        height: 320px;
    }

    .livro-card {
        margin: 0 auto;
        max-width: 300px;
    }
}

/* BUSCADOR */
@media (max-width: 768px) {
    .buscador {
        top: 80px;
        padding: 10px;
        margin-top: 30px;
        z-index: 100; 
    }

    .pesquisa {
        flex-direction: row;
        gap: 10px;
        max-width: 90%;
    }

    #buscar {
        padding: 12px 35px;
    }

    .pesquisa button {
        width: 100%;
        padding: 12px;
        border-radius: 25px;
    }
}

/*TELA DE CADASTRO DE LEITOR*/
@media (max-width: 768px) {
    .radio-group {
        grid-column: 1 / span 2;
    }

    .radio-options {
        flex-direction: column;
        gap: 10px;
    }

    .radio-options label {
        padding: 8px 12px;
    }
}

@media (max-width: 480px) {
    .radio-group {
        grid-column: 1 / span 1;
    }

    .radio-options label {
        width: 93%;
        text-align: center;
    }
}

/*TELA DE EMPRESTIMO*/
@media (max-width: 768px) {
    .emprestimo-content {
        flex-direction: column;
        align-items: center;
    }

    .emprestimo-info,
    .emprestimo-form-container {
        width: 100%;
        max-width: 100%;
        height: auto;
        padding: 10px;
    }

    .emprestimo-info {
        background-color: #f2f2f2;
        margin-bottom: 20px;
        padding-top: 10px;
    }

    .livro-info-text {
        font-size: 18px;
        margin-top: 10px;
    }

    .form-buttons {
        display: flex;
        gap: 10px;
    }

    .btn-confirmar,
    .btn-limpar {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .container-emprestimo {
        padding: 15px;
    }

    .container-emprestimo h2 {
        font-size: 24px;
        margin-top: -100px;
    }

    .emprestimo-content {
        gap: 15px;
    }

    .emprestimo-info-container h3 {
        font-size: 1rem;
    }

    #livro-capa {
        max-width: 100px;
    }

    .livro-info-text {
        font-size: 14px;
    }

    .form-group label {
        font-size: 14px;
    }

    .form-group input,
    .form-group p.info-adicional {
        padding: 8px;
        font-size: 14px;
    }

    .form-buttons {
        display: flex;
        gap: 8px;
    }

    .btn-confirmar,
    .btn-limpar {
        padding: 10px;
        font-size: 12px;
    }
}

/*TELA DE INFORMAÇÕES LIVROS*/
@media (max-width: 768px) {
    .livro-detalhes-container {
        max-width: 95%;
        padding: 10px;
        margin-top: -100px;
    }

    .livro-detalhes-grid {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .livro-info-principal {
        flex-shrink: 0;
    }

    .capa-detalhes,
    .capa-placeholder-detalhes {
        width: 180px;
    }

    .status-tag {
        margin-top: -10px;
    }

    .livro-dados-texto p {
        text-align: center;
    }

    .livro-sinopse {
        flex: 1;
        text-align: center;
        font-size: 20px;
    }

    .livro-detalhes-botoes {
        flex-direction: column;
        gap: 10px;
    }

    .btn-voltar-detalhes,
    .btn-reservar-detalhes,
    .btn-esgotado {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .livro-detalhes-container {
        padding: 15x;
    }

    .livro-detalhes-header h2 {
        font-size: 25px;
    }

    .capa-detalhes,
    .capa-placeholder-detalhes {
        width: 150px;
    }

    .status-tag {
        margin-top: -30px;
        font-size: 15px;
    }

    .livro-dados-texto p {
        font-size: 20px;
    }

    .livro-detalhes-botoes {
        gap: 8px;
    }

    .btn-voltar-detalhes,
    .btn-reservar-detalhes,
    .btn-esgotado {
        padding: 8px 10px;
    }
}

/* TELA DE ESTOQUE E USUARIOS */
@media (max-width: 768px) {
    .estoque-container {
        padding: 10px;
        margin-top: -100px;
    }

    .tabela-estoque {
        display: block;
        width: 100%;
        overflow-x: auto;
        white-space: nowrap;
    }

    .tabela-estoque thead th,
    .tabela-estoque tbody td {
        padding: 10px;
        font-size: 15px;
    }
}

@media (max-width: 480px) {
    .estoque-container {
        padding: 5px;
    }

    .tabela-estoque {
        border-collapse: collapse;
        display: block;
        width: 100%;
    }

    .tabela-estoque thead {
        display: block;
        width: 100%;
        margin-bottom: 5px;
    }

    .tabela-estoque thead tr {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        background-color: transparent;
        color: black;
    }

    .tabela-estoque thead th {
        background-color: transparent;
        color: black;
        border-bottom: none;
        padding: 5px;
    }

    .tabela-estoque tbody {
        display: block;
        width: 100%;
    }

    .tabela-estoque tbody tr {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 10px;
        border: 1px solid #ddd;
        border-radius: 8px;
        padding: 10px;
    }

    .tabela-estoque tbody td {
        display: block;
        text-align: left;
        border: none;
        padding: 5px;
    }

    .tabela-estoque tbody td::before {
        display: none;
    }

    .botoes-acao {
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-top: 10px;
        grid-column: 1 / span 2;
    }

    .botoes-acao .btn-editar,
    .botoes-acao .btn-excluir {
        flex-grow: 1;
        text-align: center;
        box-sizing: border-box;
    }
}

/* RESPONSIVIDADE PARA O MODAL */
@media (max-width: 768px) {
    .modal-conteudo {
        width: 80%;
        margin: 10% auto;
        padding: 10px;
    }

    .modal-conteudo h3 {
        font-size: 15px;
    }

    .modal-botoes {
        gap: 5px;
    }

    .btn-salvar-modal,
    .btn-voltar-modal {
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .modal-conteudo {
        width: 80%;
        margin: 30% auto;
        padding: 10px;
    }

    .form-grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .modal-botoes {
        flex-direction: column;
        gap: 5px;
    }

    .btn-salvar-modal,
    .btn-voltar-modal {
        width: 100%;
        padding: 10px;
    }
}